#logo_txt{
	color:white;
	font-family: SquishyBlue;
	font-size:40px;
	margin: 0;

}
#header{
	background: darkgreen;
}
#header-wrapper{
	background: darkgreen;
	/*border-bottom: solid;*/
	/*border-bottom-width: 0.5px;
	border-bottom-color: #C2F70F;*/
}
.right{
	float: right;
}
#q{
	height: 30px;
	width: 300px;
	margin-top: 10px;
}
#qbt{
	margin-top: 10px;
	height: 30px;
	margin-left: 10px;
}
#menu-screen{
	/*width: 150px;*/
	width:170px;
	/*background: rgb(0,125,0);*/
	background: whitesmoke;
	height: 80%;
	position: fixed;
	box-shadow: -1px 2px 20px -1px rgba(0,0,0,0.3);
	margin: 30px;
	border-radius:1%;

}
#buttons{
	margin-top:50px;
	color: white;
	border-right: solid ;
	border-right-color: 1px;
}
#buttons button{
	margin: 10px;
}
#profile{
	float: left;
	background: whitesmoke;
	height: 600px;
	width: 230px;
	position: fixed;
	margin-left: 20px;
	margin-top:30px;
	/*border:solid black .7px;*/
	box-shadow: -1px 2px 20px -1px rgba(0,0,0,0.3);
	border-radius:1%;
}
#profile-pic{
	height: 90px;
	border-radius: 50%;
	margin-top: 50px;
	margin-bottom: 20px;
}
.post{
	/*margin-right: 250px;*/
	margin-left: 25.8%;
	width: 70%;
	/*height: 350px;*/
	background: whitesmoke;
	margin-top: 30px;
	box-shadow: -1px 2px 20px -1px rgba(0,0,0,0.3);
	border-radius:1%;
}
.post#loading{
    background: transparent;
	box-shadow: none;
	border-radius:0%;
}
#logout{
	margin-top: 200px;
}
.room-s {
	/*position: absolute;*/
	margin-left: auto;
	margin-right: auto;
	width: 54%;
	margin-top: 30px;
	right: 45%;
	box-shadow: -1px 2px 20px -1px rgba(0,0,0,0.3);
	border-radius:1%;

}
.room-s-bts {
	height: 50px;
	background: whitesmoke;
	/*width:inherit;*/
}
.room-s-pic{
	height: 40px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
}
.room-s h5 {
	float: left;
	padding-top: 13px;
	padding-left: 10px;
}
.room-s button {
	float: right;
	margin-top: 6px;
	margin-right: 6px;
}
.cover {
	width:100%;
}
.post-header {
	height: 57px;
	background: whitesmoke;
	padding-top: 5px;
	border-bottom: solid;
	border-bottom-width: 1px;
}
.post-bts{
	background: whitesmoke;
	height: 85px;
}
.post-bts button{
	width: 32.22%;
	margin: 2.2px;
}
.post-header img {
	float: left;
}
.post-header h5 {
	margin: 0;
	margin-left: 30px;
}
.post-header h5 h6 {
	margin-left: 30px;
}
.post-cnt p {
	padding: 20px;
	font-size:20px;
}

/* width */
/*Modal Code Start*/
#comment_template,#post_template{
    display:none;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align:right;
}

.close:hover,
.close:focus {
  color: #F00;
  text-decoration: none;
  cursor: pointer;
}
/*Modal End*/


@keyframes ldio-26crhbayvvm {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    transform: translate(0,0)
  }
  50% {
    transform: translate(0,500px);
    animation-timing-function: cubic-bezier(0,0.45,0.55,0.9);
  }
  100% {
    transform: translate(0,0);
  }
}

.ldio-26crhbayvvm div {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #157759;
  left: 74px;
  top: 20px;
  animation: ldio-26crhbayvvm 2.5s linear infinite;
}
.loadingio-spinner-ball-3azh9u0yuyo {
  width: 600px;
  height: 600px;
  display: none;
  overflow: hidden;
  background: none;
  margin-left:50%;

}
.ldio-26crhbayvvm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-26crhbayvvm div { box-sizing: content-box; }
/* generated by https://loading.io/ */
